.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -0px -2px 7px 0 rgba(0, 0, 0, 0.03), -0px -10px 25px 0 rgba(0, 0, 0, 0.04), -1px -25px 80px 0 rgba(0, 0, 0, 0.07);
    background-color: $color-silver;
    padding: $spacing-large * 3 0;

    &__text {
        color: $color-dark-gray;
        font-weight: 400;
        font-size: 52px;
        line-height: 123%;

        strong {
            color: $color-black;
            font-weight: 400;
        }

        @media screen and (max-width: 1100px) {
            font-size: 32px;
        }

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }

    &__title {
        @include title
    }

    @media screen and (max-width: 1100px) {
        padding: $spacing-large * 2 $spacing-small;
    }

    @media screen and (max-width: 768px) {
        padding: $spacing-large $spacing-small;
    }
}

.about-us__content {
    max-width: 950px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: $spacing-large;
}