.footer {

    background-color: $color-black;
    color: $color-white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__content {
    padding: 254px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1072px;

    @media screen and (max-width: 1100px) {
        padding: 154px 0;
    }

    @media screen and (max-width: 768px) {
        padding: 100px 0;
    }

    @media screen and (max-width: 480px) {
        padding: 70px 10px;
    }
}

.footer__title {
    @include title
}

.footer__sub-title {
    font-weight: 500;
    font-size: 88px;
    line-height: 100%;
    text-align: center;
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;

    @media screen and (max-width: 1100px) {
        font-size: 50px;
    }

    @media screen and (max-width: 768px) {
        font-size: 40px;
    }

    @media screen and (max-width: 480px) {
        font-size: 30px;
    }

    .color_accent {
        color: $color-accent;
    }

    .font__accent {
        font-family: "SF Mono", sans-serif;
    }
}

.footer__subscribe-box {
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacing-small;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    input {
        padding: 20px;
        border: 1px solid #252525;
        border-radius: $border-radius;
        background-color: transparent;

        &::placeholder {
            color: $color-light-gray;
            font-weight: 400;
            font-size: 16px;
        }
    }

    button {
        @include submit-btn($color-accent);
    }

}

.footer__copyright {
    padding: 40px 0;

    @media screen and (max-width: 768px) {
        padding: 40px 10px;
        text-align: center;
    }
}