@mixin button ($bg, $text-color, $border, $padding) {
    padding: $padding $padding * 2;
    color: $text-color;
    background-color: $bg;
    font-size: $font-size-normal;
    font-weight: 500;
    transition: $transition ease-in-out all;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $color-white;
        color: $color-black;
        box-shadow: $bg 0px 0px 10px;
    }
}

@mixin title () {
    padding: $spacing-small $spacing-small * 2;
    color: $color-silver;
    background-color: $color-accent;
    font-size: $font-size-normal;
    font-weight: 500;
    transition: $transition, ease-in-out, all;
    border: none;
    border-radius: 48px;

    &:hover {
        // background-color: rgba(0, 0, 0, .4);
    }
}

@mixin submit-btn ($bg) {
    border-radius: 12px;
    padding: 20px 28px;
    color: $color-white;
    background-color: $bg;
    font-size: $font-size-normal;
    font-weight: 500;
    border: none;
    transition: $transition ease-in-out all;
    cursor: pointer;

    &:hover {
        background-color: $color-white;
        color: $color-black;
        box-shadow: $bg 0px 0px 10px;
    }
}